
.resultContainer {
    background-color: #fff;
    border-radius: 1rem;
    z-index: 200;
    width: 27%;
  }
.productItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 100px;
    border-bottom: 1px solid lightgray;

}

.productName {
    font-size: 14px;
    width: 100%;
}
.productImage{
    border-radius: 1rem;
    width: 50%;
    height:90%;
}
